@model  TCC_System_Application.ManagementServices.UserViewModel

@{
    ViewBag.Title = "NewUser";
    Layout = "~/Views/Shared/_SemLayout.cshtml";
}

<div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                    <div class="d-flex justify-content-center py-4">
                        <a href="index.html" class="logo d-flex align-items-center w-auto">
                            <img src="~/Content/IMG/Logo_Pato.gif" alt="">
                        </a>
                    </div><!-- End Logo -->

                    <div class="card mb-3">

                        <div class="card-body">

                            <div class="pt-4 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4">Nova uma conta</h5>
                                <p class="text-center small">Digite seus dados pessoais para criar conta</p>
                            </div>

                            <form class="row g-3 needs-validation">
                                <div class="col-12">
                                    @Html.LabelFor(model => model.Name, new { @class = "form-label" }) :
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", required = "required" })
                                    <div class="invalid-feedback">Por favor, digite seu nome!</div>
                                </div>

                                <div class="col-12">
                                    @Html.LabelFor(model => model.Email, new { @class = "form-label" }) :
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", required = "required" })
                                    <div class="invalid-feedback">Por favor, insira um endereço de e-mail válido!</div>
                                </div>

                                <div class="col-12">
                                    @Html.LabelFor(model => model.Password, new { @class = "form-label" }) :
                                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", required = "required" })
                                    <div class="invalid-feedback">Por favor, digite sua senha!</div>
                                </div>
                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                                        <label class="form-check-label" for="acceptTerms">Eu concordo e aceito o <a href="#">termos e Condições</a></label>
                                        <div class="invalid-feedback">Você deve concordar antes de enviar</div>
                                    </div>
                                </div>
                                @Html.DropDownListFor(model => model.Claims, null, " ", new { @class = "form-control form-control-sm visually-hidden" })

                                <div class="col-12">
                                    <button id="Save" class="btn btn-primary w-100" type="button">
                                        <span class="spinner-border spinner-border-sm visually-hidden" role="status" aria-hidden="true"></span>
                                        <span class="">Criar conta</span>
                                    </button>
                                </div>
                                <div class="col-12">
                                    <p class="small mb-0">Já tem uma conta?<a href="@Url.Action("index", "Login")">Login</a></p>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script>

        function Save() {

            $("#Save").click(function () {
                PostForm(this.form, '@Url.Action("NewUser", "Login" , Request.Url.Scheme)', PostArea, false);
            });

            function PostArea(result) {
                if (ShowJsonResult(result)) {
                    setInterval(function () {
                        window.location.replace('@Url.Action("", "Login")');
                    }, 2500);
                }
            };
        }
        Save();


    </script>

}