@model  TCC_System_Application.ManagementServices.UserViewModel

<div class="tab-pane fade profile-edit pt-3" id="profile-edit">

    <!-- Profile Edit Form -->
    <form>
        @Html.HiddenFor(model => model.Id)

        <div class="col-12">
            @Html.LabelFor(model => model.Name, new { @class = "form-label" }) :
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", required = "required" })
            <div class="invalid-feedback">Por favor, digite seu nome!</div>
        </div>

        <div class="col-12">
            @Html.LabelFor(model => model.Email, new { @class = "form-label" }) :
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", required = "required" })
            <div class="invalid-feedback">Por favor, insira um endereço de e-mail válido!</div>
        </div>

        <div class="col-12">
            @Html.LabelFor(model => model.Password, new { @class = "form-label" }) :
            @Html.TextBoxFor(model => model.Password, new { @class = "form-control", required = "required" })
            <div class="invalid-feedback">Por favor, digite sua senha!</div>
        </div>

        @Html.DropDownListFor(model => model.Claims, null, " ", new { @class = "form-control form-control-sm visually-hidden" })

        <button id="Save" class="btn btn-primary w-100" type="button">
            <span class="spinner-border spinner-border-sm visually-hidden" role="status" aria-hidden="true"></span>
            <span class="">Criar conta</span>
        </button>
    </form><!-- End Profile Edit Form -->
</div>